.DS_Store
Makefile
config.log
config.status
autom4te.cache
configure
pkgIndex.tcl
*.o
*.so
libsocketserver.so.*
*.core
*.swp
libancillary/evclient
libancillary/evclient.c
libancillary/evserver
libancillary/evserver.c
libancillary/libancillary.a
libancillary/test
libancillary/test.c
